@import "./open-props.min.css";
@import "./fonts.css";
@import "./reset.css";

:root {
    --surface-1: rgb(24, 21, 21);
    --surface-2: rgb(34, 30, 30);
    --surface-3: rgb(66, 57, 57);
    --surface-4: rgb(109, 95, 95);
    --surface-5: rgb(151, 135, 135);
    --surface-6: rgb(182, 168, 165);
    --surface-7: rgb(244, 230, 210);

    --red: rgb(202, 63, 63);
    --orange: rgb(228, 106, 58);
    --yellow: rgb(227, 156, 69);
    --green: rgb(152, 159, 86);
    --teal: rgb(98, 147, 134);
    --blue: rgb(81, 120, 148);
    --magenta: rgb(74, 90, 141);
    --purple: rgb(159, 86, 154);
    --pink: rgb(196, 84, 151);

    --background: var(--surface-1);
    --surface: var(--surface-2);
    --overlay: var(--surface-3);
    --subtext: var(--surface-6);
    --text: var(--surface-7);
    --accent: var(--yellow);
    --secondary: var(--purple);


    --font-default: "HK Grotesk", var(--font-neo-grotesque);
}

::selection {
    background-color: var(--accent);
    color: var(--text);
}
i {
    font-style: italic;
}

body {
    font-family: var(--font-default);
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: var(--size-fluid-3);
    padding: var(--size-fluid-3);
    width: 70%;
    min-width: fit-content;
    height: fit-content
}
main > * {
    height: fit-content;
}

.center-container, .container{
    background: var(--surface);
    border-radius: var(--radius-3);
}
.center-container {
    flex: 1 1 1;
    max-width: calc(var(--size-content-3) + 10vw);
    min-width: var(--size-content-1);
}
.container {
    display: flex;
    flex: 2 0 2;
    flex-direction: column;
    min-width: fit-content;
    padding: var(--size-fluid-3);
}

h1, h2 {
    color: var(--accent);
    font-weight: bold;
}
h1 {
    font-size: var(--font-size-fluid-2);
    margin-bottom: var(--size-3);
}
h2 {
    font-size: var(--font-size-fluid-1);
    margin-bottom: var(--size-4);
}
ul, ol {
    margin-left: var(--size-4);
}

.hero {
    display: block;
    border-top-left-radius: var(--radius-3);
    border-top-right-radius: var(--radius-3);
    width: 100%;
}

p, a {
    color: var(--text);
    font-size: var(--font-size-3);
    line-height: var(--font-lineheight-2);
    font-weight: normal;
}

a:visited {
    color: var(--secondary);
}
a:link {
    color: var(--accent);
}
hr {
    height: var(--size-4);
    border: 0;
}


h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

p {
    max-width: var(--size-content-3);
    text-wrap: pretty;
}

.album-art {
    border-radius: var(--radius-3);
    width: var(--size-fluid-9);
    margin-bottom: var(--size-4);
}

@media (max-width: 640px) {
    main {
        flex-direction: column;
    }
    main > * {
        flex: 0;
    }

    p, li > a {
        font-size: var(--font-size-1);
        line-height: var(--font-lineheight-2);
        font-weight: normal;
    }
}